<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>search</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<table>
		<thead class="scrollHead">
			<tr>
				<th class="hno">No</th>
				<th class="hcompany">会社</th>
				<th class="hdep">事業部</th>
				<th class="hpos">職位</th>
				<th class="hname">氏名</th>
				<th class="hname">氏名(カナ)</th>
				<th class="hbirth">年齢</th>
				<th class="hgender">性別</th>
				<th class="hbusiness">上司</th>
				<th class="hdetail">詳細</th>
				<th class="hdelete">削除</th>
				<th class="hyakushoku">役職</th>
			</tr>
		</thead>
		<tbody class="scrollBody">
			<tr th:each="obj : ${datalist}">
				<td class="no" th:text="${obj.no}"></td>
				<td class="company" th:text="${obj.companyInfoId}"></td>
				<td class="dep" th:text="${obj.department}"></td>
				<td class="pos" th:text="${obj.position}"></td>
				<td class="name" th:text="${obj.name}"></td>
				<td class="name" th:text="${obj.nameKana}"></td>
				<td class="birth" th:text="${obj.birthday}"></td>
				<td class="gender" th:text="${obj.gender}"></td>
				<td class="boss" th:text="${obj.boss}"></td>
				<td class="detail"><a
					th:href="@{/detail/{empId}/{id}/{password}/{role}(empId=${obj.empId}, id=${id}, password=${password}, role=${role})}">詳細</a>
				</td>
				<td class="delete"><a th:if="${trueCheck}"
					th:href="@{/delete/{empId}/{id}/{password}/{role}(empId=${obj.empId}, id=${id}, password=${password}, role=${role})}"
					onclick="return deleteCk();">削除</a> <a th:if="${falseCheck}"
					class="disabled" tabindex="-1">削除</a></td>
				<td class="yakushoku" th:text="${obj.companyId}"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>